/*Styling to set up Webpage and remove anyunwated properties declared in the root selectors*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root{ Psuedo Root Element that has higher specificity than viewport

} */

html{
    height: 100%;
}

body{
    height: 100%;
}

/*End of Root Styling*/
.mainContainer{
    border-style: border-box;
    height: 100%;
    width: 100%;
    border: 5px solid black;
    padding: 5px;
    display: flex;
}

.mainColumn{
    height: 100%;
    width: 100%;
    background-color: silver;
    border-style: border-box;
    border: 2px solid black;
}
